{% extends 'base.html' %}

{% load static %}

{% block content %}

<p class="fs-5 text text-center mt-5">Ecommerce type gallery </p>
<p class="fs-5 text text-center mt-5">Django database sqlite3 + Bootrstrap carousel.</p>
  
  <!--Ecommerse gallery-->
  <div class="container">
    <div class="row ">
      <div class="col-6 col-md-5 col-lg-4 col-xl-3 ">

        <!---Carousel-->
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
      
            {% for product in products %}
      
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <img src="{{ product.image.url }}" class="rounded d-block img-fluid mx-auto" height="600" data-bs-target="#carouselExampleSlidesOnly1" data-bs-slide-to="{{ forloop.counter0 }}"  alt="...">
            </div>
            
            {% endfor %}
      
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>


  <!--- imagaes below carousel-->
  <div class="container">
    <div class="row" >
      <div class="col-6 col-md-5 col-lg-4 col-xl-3 ">
        <div class="row row-cols-sm-4 row-cols-2 mb-2">
          
            {% for product in products %}
              {% if product.id == 1 %}
              <img src="{{ product.image.url }}" class="rounded w-25 mt-2" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0">
              {% endif %}

              {% if product.id == 2 %}
              <img src="{{ product.image.url }}" class="rounded w-25 mt-2" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1">
              {% endif %}

              {% if product.id == 3 %}
              <img src="{{ product.image.url }}" class="rounded w-25 mt-2" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2">
              {% endif %}

              {% if product.id == 4 %}
              <img src="{{ product.image.url }}" class="rounded w-25 mt-2" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3">
              {% endif %}
            {% endfor %}

        </div>
      </div>
    </div>  
  </div>  




{% endblock %}
 

