{% extends 'base1.html' %}

{% load static %}

{% block content %}





<div class="container">
  <div class="position-relative">
    <img src="{% static 'bpage/images/USA.jpg' %}" class="img-fluid" alt="...">
    <!-- <div class="position-absolute bottom-0 start-50 fs-5 new_york text  translate-middle-x">New York</div> -->
  </div>
<!--   <div id="header-text-one" class="fs-5 text text-dark translate-middle-x">Hi guys!</div>
 -->  
</div>

<div class="container content_text d-none d-sm-block" style="background-color: rgba(52,59,67,255)">
  <h1 class="fs-1 pt-5 pb-5 text text-center">Zapraszamy na zajecia</h1>

  <div class="row row-cols-1 row-cols-md-2 ">
     
    <div class="col pt-3 text-center" >
      <div class="position-relative">
        <div class="tooltip1"><img src="{% static 'bpage/images/KIDS1.jpg' %}" class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x tooltip2" style="width: 100%" id="nauka">Dla dzieci</div>
        </div>
      </div>
    </div>

    <div class="col pt-3  text-center" >
      <div class="position-relative">
        <div class="tooltip1"><img src="{% static 'bpage/images/Beginners1.jpg' %}" class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x tooltip2" id="nauka">Dla początkujących</div>
        </div>
      </div>
    </div>
  
    <div class="col pt-3  text-center" >
      <div class="position-relative">
        <div class="tooltip1"><img src="{% static 'bpage/images/FUN1.jpg' %}" class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x tooltip2" id="nauka">Dla zabawy</div>
        </div>
      </div>
    </div>
  
    <div class="col pt-3 text-center" >
      <div class="position-relative">
        <div class="tooltip1"><img src="{% static 'bpage/images/NYT21.jpg' %}"  class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x tooltip2"  id="nauka">Dla zaawansowanych</div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container content_text d-block d-sm-none" style="background-color: rgba(52,59,67,255)">
  <h1 class="fs-1 pt-5 pb-5 text text-center">Zapraszamy na zajecia</h1>

  <div class="row row-cols-1 row-cols-md-2 ">
     
    <div class="col pt-3 text-center" >
      <div class="position-relative">
        <div ><img src="{% static 'bpage/images/KIDS1.jpg' %}" class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x " style="width: 100%" id="nauka">Dla dzieci</div>
        </div>
      </div>
    </div>

    <div class="col pt-3  text-center" >
      <div class="position-relative">
        <div ><img src="{% static 'bpage/images/Beginners1.jpg' %}" class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x " id="nauka">Dla początkujących</div>
        </div>
      </div>
    </div>
  
    <div class="col pt-3  text-center" >
      <div class="position-relative">
        <div ><img src="{% static 'bpage/images/FUN1.jpg' %}" class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x " id="nauka">Dla zabawy</div>
        </div>
      </div>
    </div>
  
    <div class="col pt-3 text-center" >
      <div class="position-relative">
        <div ><img src="{% static 'bpage/images/NYT21.jpg' %}"  class="img-fluid" alt="...">
        <div class="position-absolute bottom-0 start-50 fs-1 text translate-middle-x"  id="nauka">Dla zaawansowanych</div>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}

 