{% extends 'base1.html' %}

{% load static %}

{% block content %}

<!-- menu -->



   

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="{% static 'bpage/images/grammar-posters-present-continuous-1.jpg' %}" class="img-fluid" alt="...">

      </div>

    </div>
  </div>
</div>


<div class="container" style="background-color: rgba(52,59,67,255)" >
  
  <button type="button" class="btn btn-outline-warning">B outline</button>


  <a   class="btn btn-outline-warning col-md-2 col-xl-1  text-center" >Stdandard1</a>

  <a type="button" class="col-md-2 col-xl-1 pomoc text-center btn btn-outline-warning"  >Stdandard2</a>

  <div class="menu1">
    <a class="col-md-2 col-xl-1 text-center pomoc"  href="{% url 'materialy2' %}">Stdandard3</a>
  </div>

</div>






{% endblock %}

    
    
