{% extends 'base1.html' %}

{% load static %}

{% block content %}

<!-- menu -->

<div class="container  d-grid gap-3"  style="background-color: rgba(52,59,67,255)">
    
  <div class="row row-cols-2  row-cols-lg-3 row-cols-xxl-4 ">
    {% for product in products%}
      <div class=" col ">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal{{product.pk}}">
          <p class="text-center mt-5 ">{{ product.name }} </p>
                <!--<img src="{{ product.image.url }}" class="figure-img mx-auto d-block rounded  mb-2" height="200px"> -->
          <img src="{{ product.image.url }}" class="figure-img mx-auto d-block rounded  mb-2" width="100%;">
        </a>
      </div>

      <div class="modal fade" id="exampleModal{{product.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{{ product.image.url }}" class="figure-img img-fluid rounded" width="100%" alt="...">
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<div class="container" style="background-color: red" >

  <button type="button" class="btn btn-outline-warning">B outline</button>

  <a class="btn m-3 pomoc btn-outline-warning col-md-2 col-xl-1 text-center" >Stdandard1</a>

</div>






{% endblock %}

    
    
