.navbar {
  outline: 1px solid yellow;
  outline-offset: -5px;
  background-color: red;
  padding: 20px 0px;
  margin-bottom: 5px;
}

.navbar-toggler {
  border-color: yellow;
  outline: 1px solid yellow;
}

.navbar-toggler:hover {
  outline: 3px solid yellow;
}

.phone_number, .email_navbar{
  color: yellow;
}

#nav {
  outline:1px solid yellow;
  color: yellow;
  border-radius: 5px;
  padding-right: -20px;
  font-style: italic;
  padding-right: -60px;
  display: inline;
}  
  /*   hovering menu */
#nav:hover {
  background-color: yellow;
  color: red;
  /* font-weight: 900; */
}

.menu {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;

  color: yellow;
  border-radius: 5px;
  font-style: italic;
  text-decoration: none;
}

.header {
  height: 180px;
  background-color: red;
  font-size: 40px;
  text-shadow: 10px 10px 8px yellow;
}
.headersm {
  height: 180px;
  background-color: red;
  font-size: 10vw;
  text-shadow: 5px 5px 5px yellow;
}
#ramka {
  outline: 1px solid yellow;
  outline-offset: -10px;
  padding-top: 45px;
  text-align: center;
  color: yellow;
}

.guys {
  position: relative;
  animation-name: motion;
  animation-duration: 4s;
}
.guyssm {
  position: relative;
  animation-name: motion1;
  animation-duration: 3s;
}
@keyframes motion {
  0%   {background-color:transparent; left:-1200px; top:0px;}
  100%  { left:00px; top:0px;}
}
@keyframes motion1 {
  0%   {background-color:transparent; left:-500px; top:0px;}
  100%  { left:00px; top:0px;}
}

.new_york {
  color: yellow;
}
/*   For zapraszamy na zajecia */
.content_text {
  color: rgba(255,250,80,255);
}

/* for pictures positioning*/
.tooltip1 {
	display: inline-block;
	position: relative;
	margin: 50px;
}

.tooltip2  {
	visibility: hidden;
}

.tooltip1:hover  .tooltip2 {
  visibility: visible;
}

#nauka {
  /* padding-top: 100px; */
 background-color: grey;
 opacity: 0.8;
 width: 100%;
}

#nauka:hover {
 background-color: BLACK;
}


.btmp img:last-child {
  display: none;  
}
.btmp:hover img:last-child {
  display: block;  
}
.btmp:hover img:first-child {
  display: none;  
}

/* materiały */

.materialy {

  background-color: red;
  height: auto;
 
  outline: 1px solid yellow;
  outline-offset: -10px;
/*   padding-top: 45px; */
  text-align: center;
  color: yellow;
  padding-bottom: 15px;

}



