p {
  display: inline;
  margin-left: 20px;
  color: yellow;
}

.navbar {
  outline: 1px solid yellow;
  outline-offset: -5px;
  background-color: red;
  background-color: red;
  padding: 20px 0px;
  margin-bottom: 5px;
  color: yellow;
  
}

.navbar-toggler {
  border-color: yellow;
  outline: 2px solid yellow;
}


.menu {
  position: absolute;
}

.header {
  height: 280px;
  background-color: red;
  /* font-size: 40px; */
  text-shadow: 10px 10px 8px yellow;
}

#ramka {
  outline: 2px solid yellow;
  outline-offset: -15px;
  padding-bottom: 150px;
  padding-top: 50px;
  text-align: center;
  color: yellow;
}

.menu1 {
  position: relative;

  outline: 1px solid yellow;
  color: yellow;

  border-radius: 5px;
  font-style: italic;
}


.menu2 {
  position: relative;
 
  outline:1px solid yellow;
  color: yellow;
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
}

.menu3 {
  position: relative;
  left: 40vw;
  outline:1px solid yellow;
  color: yellow;
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
}
.menu4 {
  position: absolute;
  left: 50vw;
  outline:1px solid yellow;
  color: yellow;
  padding: 5px;
  border-radius: 5px;
  font-style: italic;
}

.menu1:hover, .menu2:hover {
  background-color: yellow;
  color: red;
/*   font-weight: 900; */
}



.guys {
  position: relative;
  animation-name: example;
  animation-duration: 6s;
}

.courses {
  position: relative;
  animation-name: example;
  animation-duration: 8s;
}

@keyframes example {
  0%   {background-color:transparent; left:-800px; top:0px;}
  100%  { left:00px; top:0px;}
}



